fastapi[standard]
uvicorn
python-dotenv
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
argon2-cffi
langchain-core
langchain-community
langgraph
langchain-google-genai
sentence-transformers
chromadb
python-frontmatter
langchain-text-splitters
langchain-huggingface
langchain-chroma
psycopg[binary]
psycopg-pool